.editform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    height: 25vh;
    width: 20vw;
    border-radius: 3px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 15vw;
    justify-content: center;
}

.addlistbutton1 {
    height: 3vh;
    width: 15vw;
    margin-top: 0.5vh;
    justify-content: center;
    background-color: #00c805;
    border: 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.addlistbutton2 {
    height: 3vh;
    width: 15vw;
    margin-top: 0.5vh;
    justify-content: center;
    background-color: #FF5000;
    border: 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.expandedinput {
    height: 3vh;
    width: 15vw;
    margin-top: 1vh;
    display: flex;
    /* padding-left: 2vw; */
    /* justify-content: center; */
    /* border-radius: 3px; */
    text-align: center;
}